#mainFloorMainDiv {
	width: 1200px;
	height: 260px;
	margin: 0 auto;
	border-bottom: #CDCDCD solid 1px;
	border-right: #CDCDCD solid 1px;
	border-left: #CDCDCD solid 1px;
	border-top: #22A618 solid 2px;
	display: block;
	float: left;
	margin-top: 10px;
}

#mainFloorMainDiv #mainFloorTitleDiv {
	width: 1200px;
	line-height: 40px;
	display: block;
	float: left;
}

#mainFloorTitleDiv  ul {
	list-style: none;
}

#mainFloorTitleDiv  li {
	display: inline-block;
	float: left;
	width: 299px; 
	*width: 300px;
	background: url("../images/page/bg-jd.png") repeat-x left bottom;
	border-left: 1px solid #CDCDCD;
	height: 38px;
	color: #000000;
	text-align: center;
	text-decoration: none;
	font-size: 14px;
	font-weight: bold;
	font-family: 'Î¢ÈíÑÅºÚ', 'ËÎÌå'
}

#mainFloorTitleDiv  .current {
	border-bottom-style: none;
	background-image: none;
	color: red;
}

#mainFloorTitleDiv  .pre {
	border-left-style: none;
}

#mainFloorContain ul {
	display: none;
	position: relative;
	height: 220px;
	width: 100%;
	text-align: left;
	float: left;
	text-decoration: none;
	margin-top: 5 auto;
}

#mainFloorContain ul li {
	display: block;
	text-align: center;
	float: left;
	text-decoration: none;
	width: 190px;
	height: 200px;
	margin-top: 10px;
	margin-bottom: 10px;
	margin-left: 8px;
	vertical-align: middle;
}

#mainFloorContain ul li .product_price {
	line-height: 22px;
	font-size: 12px;
	height: 22px;
	width: 100%;
	float: left;
	font-weight: bold;
	color: #CC0000;
}

#mainFloorContain ul li .product_name {
	line-height: 22px;
	width: 100%;
	font-size: 12px;
	color: #000000;
	text-decoration: none;
	height: 22px;
	float: left;
}

#mainFloorContain ul li .product_type {
	line-height: 22px;
	width: 100%;
	font-size: 12px;
	color: #000000;
	text-decoration: none;
	height: 22px;
	float: left;
	line-height: 22px;
}

#mainFloorContain ul li .product_name a,
#mainFloorContain ul li .product_name a:link{
	color:#000000;
	text-decoration: none;
}
#mainFloorContain ul li .product_name a:hover{
	color:#FF0000;
	text-decoration: underline;	
}

#mainFloorContain ul li .product_image {
	text-align: center;
}
.commonFloor{
	position: relative;
	width:1200px;
	height:980px;
	margin: 10px auto;
}

.commonFloor .floor_product{
	position: relative;
	float:left;
	width:910px;
	height:510px;
}
.commonFloor .floor_product .floor_line_dotted_1,
.commonFloor .floor_product .floor_line_dotted_2,
.commonFloor .floor_product .floor_line_dotted_3{
	position: absolute;
	left:0px;
	width: 100%;
	border-top:1px dotted #CCCCCC;
}
.commonFloor .floor_product .floor_line_dotted_1{
	top:275px;	
}
.commonFloor .floor_product .floor_line_dotted_2{
	top:510px;
}
.commonFloor .floor_product .floor_line_dotted_3{
	top:745px;
}
.commonFloor .floor_product ul{
	width:910px;
	height:41px;
	font-size:14px;
	color:#000;
	font-weight:bold;
	line-height:41px;
	list-style:none;
	background: url('../images/page/lab-bg02.png') repeat-x bottom;
}
.commonFloor .floor_product ul li{
	float:left;
	width:50px;
	height:39px;
	line-height:39px;
	border-top:2px solid #22a618;
	background-image: url("../images/page/floor-border-1px.png");
	background-repeat: no-repeat;
	background-position: right center;
}
.commonFloor .floor_product li.floor_second_category{
	background-image:url('../images/page/sort-bg01.png');
	width:160px;
	height:41px;
	border-top:0px solid #22a618;
	font-size:20px;
	color:#FFF;
}
.floor_third_category_hover{
	background-color: #FFFFFF;
}
.commonFloor .floor_product li.floor_span{
	width:20px;
}
.commonFloor .floor_product .floor_productcontain{
	*width:910px;
	height:939px;
	border:1px solid #CCCCCC;
	border-top:0px;
}

.commonFloor .floor_product .floor_productcontain .floor_category_product{
	display:none;
	padding-left:10px;
}

.commonFloor .floor_product .floor_productcontain .floor_category_product ol{
	list-style: none;
	*display:inline-block;
}
.commonFloor .floor_product .floor_productcontain .floor_category_product ol li{
	float:left;
	width:175px;
	height:210px;
	margin:15px 2px 10px 0px;
	vertical-align:middle;
}
.commonFloor ol .product_image {
	text-align: center;
}
.commonFloor ol .product_name,#commonFloor ol .product_type,#commonFloor ol .product_price{
	height:18px;
	line-height: 18px;
	font-size: 12px;
	margin-top:2px;
	word-wrap:break-word; 
	overflow:hidden; 
	*display:inline-block;
}
.commonFloor ol .product_name a,#commonFloor ol .product_name a:link,#commonFloor ol .product_type{
	color: #000000;
	text-decoration: none;
}
.commonFloor ol .product_name a:hover{
	color: #FF0000;
}
.commonFloor ol .product_price{
	font-weight: bold;
	color: #CC0000;
}

	
.commonFloor .floor_ad{
	position: relative;
	float:right;
	width:280px;
	max-width:280px;
	max-height:980px;
	height:980px;
	overflow: hidden;
}
.commonFloor .floor_ad .floor_ad_last{
	margin-top:10px;
	*margin:5px 0px -5px;
}	